body{
    background: white;
}
.topbar{
    width: 1100px;
    margin-left: 160px;
    margin-top: 0px;
    height: 80px;
    position: fixed;
    z-index: 10;
    top: 10px;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 5px #6f6f6f77;
    background-color: rgb(246, 248, 249);
    
}

.page-title{
    margin-left: 10px;
    margin-right: 800px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;

}

.nav-container{
    width: 160px;
    height: 1000px;
    display : flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    align-items: center;
    margin: 0px;
    justify-content: flex-start;
}
.title {
    border: 10px;
    padding: 15px;
    margin: 1px;
    border-bottom: 1px solid rgba(105, 105, 105, 0.5);
    height: 50px;
    width: 120px;
    position: top;
    align-items: center;
    display: flex;
}
.titleheader{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 1.5;
    letter-spacing: 1.5;
    font-size: 24px;
    color: rgb(88, 88, 88)
}



.nav-header-left{
    width: 160px;
    margin: 0px;
    align-items: center;
    padding: 1px;
}

.icon {
    
    height: 50px;
    border-bottom: 1px solid rgba(105, 105, 105, 0);
    border-top: 1px solid rgba(105, 105, 105, 0) ;
    margin: 10px  auto ;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 1px;
} 

.menutab{
    padding: 1px;
    height: 50px;
    align-content: center;
    flex: 2;
    margin: 0px;

}


.items{
    text-align: left;
    margin-left: -10px;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}
   
li{
    list-style: none;
}

.greeting{
    float:right;
    margin-left: 50px;
    padding: 5px;
    ;
   
    justify-content: center;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}


  span{
    
    padding: 10px;
    width: 30px;
    margin: 0px ;
    text-align: right;
    height: 30px;
    flex: 1;
  }
  .icon:hover{
    color:black;
    background-color: white;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 25 ;
    margin-right: -8px;
    margin-left: 3px;
  }
  .material-symbols-outlined:hover{
    transform: scale(1) ;
    font-variation-settings: 
    'wght'400 ;
  }

  .icon:hover {
    background-color: rgba(151, 151, 151, 0.2);
    color: aliceblue;
    border: 2px solid aliceblue;
    cursor: pointer;
  }

  .menu{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: light;
  }

.client-table{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:200px;
    left: 300px;
    width: 1050px;
    margin-left: -110px;
    margin-right: auto;
    justify-content: space-around;
    align-content: center;
}
.client-table > div {
    justify-content: flex-start;
}


table{
    width: 1015px;
    border-collapse: collapse;
    margin:5px auto 150px;

}
.thead{
    justify-content: center;
    width: 800px;
    background-color: rgba(224, 223, 221, 1);
    margin-bottom: 10px;
    padding: 5px;
   
}
th{
    width: 1200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding:10px;
    color: rgb(109, 109, 109);
    margin-bottom: 10px;
}
.tbody{
    background-color: rgb(241, 241, 241);
    margin: 10px;
    
}

td{
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: light;
    font-size: 16px;
}

.material-icons-two-tone {
     font-size: 36px; 
    }

.add-client{
    width: 90px;
    margin: 5px 16px;

}
.add-client > button{
    cursor: pointer;
}

.meeting-dash{
   
    margin-top: 100px;
    height:400px;
    padding : 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.googlecalender{
   
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    

}

.activity{
    background: rgb(255, 255, 255);
    border: 1px solid rgba(145, 145, 145, 0.2);
    margin-left: 10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 2;
    border-radius: 10px;

}

.wrapper{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    
    margin: 10px ;
    padding: 10px   
}

.activity-list{
   
   
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 570px;
    margin: 1px auto;
}

.activity-list  li{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    
    list-style: none;
    font-size: 18px;
    transition: 0.2s;
    background: #eee;
    position: relative;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
    width: 525px;
    border-radius: 10px;

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    
}

.activity-list li:nth-child(odd){
    background: #f9f9f9;
}

.activity-list li:hover{
    background:#ddd;

}

.activity-list li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.activity-list li.checked::before{
content: '';
position: absolute;
border-color: #fff;
border-style: solid;
border-width: 0 2px 2px 0;
top: 10px;
left: 16px;
transform: rotate(45deg);
height: 15px;
width: 7px;
}

.list-container{
   margin:0px;
   padding: 0px;
   box-sizing: border-box;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }


