.nav-container{
    width: 80px;
    height: 700px;
    display : flex;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    align-items: center;
    margin: 0px;
}
.title {
    border: 10px;
    padding: 15px;
    margin: 10px;
    border-bottom: 1px solid rgb(105, 105, 105);
    height: 50px;
    width: 50px;
    position: top;
    align-items: center;
    display: flex;
}
.titleheader{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 1.5;
    letter-spacing: 1.5;
    font-size: 24px;
    color: rgb(88, 88, 88)
}



.nav-header-left{
    width: 80px;
    margin: 0px;
    align-items: center;
    float: left;
   
    

}

.icon , .nav-body{
    width:auto;
    height: 50px;
    border-bottom: 1px solid rgba(105, 105, 105, 0.5);
    border-top: 1px solid rgba(105, 105, 105, 0.2) ;
    margin: 10px;
    
} 
.nav-body{
    margin-left: 1px;
}

.nav-header-right{
    width: 168px;
    align-items: center;
    float: left;
    position: relative;
    left: 124px;
    top: -195px;
    
}

.nav-list, .nav-image{
    justify-content: center;
}

li{
    list-style: none;
}

.greeting{
    float:left;
    margin: 10px;
    display: flex;
    position: relative;
    top: -700px;
    left:1050px;
    width: 200px;
    justify-content: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}


  span{
    align-content: center;
    background-color: aqua;
    padding: 10px;
    width: 80px;
    
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}